<p id="notice"><%= notice %></p>
<br><br>
<div class="alert alert-primary" role="alert">
<h2>Detalhes da Vaga:</h2>
<hr>
<p>
  <strong>Empresa:</strong>
  <%= @vaga.empresa %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @vaga.titulo %>
</p>

<p>
  <strong>Localizacao:</strong>
  <%= @vaga.localizacao %>
</p>

<p>
  <strong>Tipo de Contratação:</strong>
  <%= @vaga.contrato %>
</p>

<p>
  <strong>Jornada:</strong>
  <%= @vaga.jornada %>
</p>

<p>
  <strong>Local de Trabalho:</strong>
  <%= @vaga.local %>
</p>

<p>
  <strong>Para canditatar-se:</strong>
  <%= @vaga.link %>
</p>

<p>
  <strong>Descricao:</strong>
  <br>
  <%= @vaga.descricao %>
</p>
<hr>
</div>
<br>
